

body {
    direction: rtl;
    font-family: Calibri;
    background-color: #F4E4C1;
    color: #080F5B;
    font-size: 16pt;
}

#container {
    display: grid;
}
/*הגדרת תפריט ראשי*/
ul {
    list-style: none;
    padding-bottom: 14px;
}

nav li a {
    float: right;
    font-size: 22px;
    color: rgb(255,97,87);
    font-weight: bold;
    text-decoration: none;
}

#contact {
    margin-right: 1240px;
    margin-top: 10px;
}

nav ul li a img {
    margin-right: -24px;
}


/*הגדרת כותרת ראשית*/
#headers {
    margin-top: -40px;
}

h1, h2 {
    font-size: 28pt;
    padding-top: 30px;
    margin-right: 540px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: #0D19A3;
    font-weight: bold;
    animation: H1animated-text 1s steps(30,end) 0.3s 1 normal both;
    margin-bottom: -90px;
    padding-right: 136px;
}

h2 {
    padding-top: 60px;
    padding-right: 20px;
    animation: animated-text 2s steps(30,end) 1.5s 1 normal both;
}

/* הגדרת אנימציה לכותרת הראשית*/
@keyframes H1animated-text {
    from {
        width: 0;
    }

    to {
        width: 180px;
    }
}


@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 443px;
    }
}



/*הגדרת תמונת פנים*/
#face {
    width: 14%;
    height: auto;
    margin-right: 655px;
    bottom: 50px;
    z-index: 1;
    position: absolute;
    top: 230px;
}

#photoCover {
    width: 250px;
    height: 250px;
    margin-right: 630px;
    background-color: #F4E4C1;
    z-index: 99;
    position: absolute;
    animation-name: showFace;
    animation-duration: 1s;
    animation-delay: 3.8s;
    animation-fill-mode: forwards;
}

/* הגדת אנימציה לתמונת הפנים*/
@keyframes showFace {
    from {
        height: 250px;
    }

    to {
        height: 0px;
    }
}

/*הגדרת פסקת כניסה*/
p {
    padding-right: 40PX;
    padding-top: 270px;
    text-align: center;
}

#pCover {
    top: 460px;
    width: 750px;
    height: 250px;
    margin-right: 450px;
    background-color: #F4E4C1;
    z-index: 99;
    position: absolute;
    animation-name: showP;
    animation-duration: 1s;
    animation-delay: 4.8s;
    animation-fill-mode: forwards;
}

@keyframes showP {
    from {
        width: 750px;
    }

    to {
        width: 0px;
    }
}



#hez {
    height: auto;
    width: 40px;
    padding-right: 730px;
    animation-name: moveH;
    animation-duration: 1s;
    animation-delay: 5.3s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 635px;
    animation-iteration-count: infinite;
    padding-top: 30px;
}

@keyframes moveH {
    from {
        top: 625px;
    }

    to {
        top: 640px;
    }
}

h3 {
    padding-top: 85px;
    padding-right: 685px;
    color: #0D19A3;
}


#ginati {
    width: 45%;
    height: auto;
    border: none;
    padding-right: 700px;
    margin-top: -150px;
}

#ginatiInformation {
    padding-top: 87px;
    padding-right: 100px;
}

#letsDog {
    width: 45%;
    height: auto;
    border: none;
    padding-right: 770px;
    margin-top: 140px;
    padding-right: 700px;
}




#letsDogInformation {
    position: absolute;
    top: 1400px;
    left: 1060px;
}

#enterGinati, #enterLetsDog {
    height: auto;
    width: 140px;
}

#enterGinati {
    position: absolute;
    top: 1190px;
    left: 1200px;
}

#enterLetsDog {
    position: absolute;
    top: 1620px;
    left: 1200px;
}

#space {
    height: 300px;
}

#footer p {
    position: absolute;
    top: 1800px;
    padding-bottom: 20px;
    padding-right: 1300px;
}
